#featured{
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	border: 1px solid #eee;
}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 1px solid #eee;

}

.thumbnail:hover{
	opacity:1;
	transition: 0.10s all;
}

.img-active{
	opacity: 1;
}

#slide-wrapper{
	width: 100%;
	display: flex;
	min-height: 100px;
	align-items: center;
	justify-content: center;
}

#slider{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}
